{
    "proceso": "Generación de Factura",
    "estado": "Ejecutado",
    "fecha": "{{ fecha }}",
    "factura_id": "{{ factura_id }}",
    "cliente": "{{ cliente }}",
    "monto_total": "{{ cantidad_total }}",
    "metodo_pago": "{{ metodo_pago }}",
    "estado_factura": "Generada"
}